/* Add a black background color to the top navigation */
.topnav 
{
	background-color: gainsboro;
	color:black;
	overflow: hidden;
}

.cpr
{
	font-sizez:10pt;
	font-family:arial,sans-serif;
	right:100px;
	float:right;
}

/* Style the links inside the navigation bar */
.topnav a
{
	float: left;
	color:black;
//	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 15pt;
	font-weight:bold;
}

/* Change the color of links on hover */
.topnav a:hover
{
	background-color: navy;
	color: white;
	font-weight: bold;
}

/* Add a color to the active/current link */
.topnav a.active
{
	background-color: #4CAF50;
	color: white;
}

.menu
{
	border-radius: 10%;	//25px;
	position:absolute;
	left:150px;
	top:150px;
	border: 5px solid STEELBLUE;
	background-color:LightSteelBlue;
	width:50%;
	height:400px;
//	color:#454545;
	color:black;
	font-family:arial,sans-serif;
}


.mtable
{
	width:95%;
	padding:25px;
}

.mtable th
{
	text-align:center;
	padding:10px;
//	border:3px solid black;
}

.mtable td
{
	text-align:center;
	width:50%;
}

.mtable tr
{
	height:20%
}


.mtable a:hover
{
}


.function
{
    border-radius: 10%; //25px;
    position:absolute;
	padding-left:140px;
    left:150px;
    top:150px;
    border: 5px solid BLUE;
    background-color:gainsboro;
//LightSteelBlue;
    width:40%;
    height:450px;
//  color:#454545;
    color:black;
	font-size: 17pt;
	font-weight:bold;
    font-family:arial,sans-serif;
	text-align:center;
}


.function td, input
{
	font-size:15pt;
}


.invtable
{
	position:absolute;
	top:30px;
	left:20px;
}

.invtable td
{
	width:20%;
	font-weight:normal;
}

.columns
{
	position:relative;
	top:30px;
	width:50%;
}

.columns td
{
	width:20%;
}


.columns input
{
}


.buttons
{
	border-radius: 13px;
//	background-image: url( "img/button_unload-now.png" );
 background: steelblue;
}


.results
{
	position:relative;
	left:200px;
	width:350px;
	height:150px;
	border:5px SOLID cyan;
	color:blue;
}


.user
{
	font-size:15pt;
}


.hrr
{
	height:5px;
	background-color:slategray;
//steelblue;
}

